      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Capteurs</a>
          </div>
          <div class="collapse navbar-collapse" id="menu-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#errors"><span class="badge  progress-bar-danger">{{ $ctrl.errors.length }}</span></a></li>
              <li><a href="#" ng-click="loadGraphs()"><span class="glyphicon glyphicon-refresh"></span></a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li ng-if="!$ctrl.authData"><a href="#" ng-click="$ctrl.login()">Log In</a></li>
                  <li ng-if="$ctrl.authData"><a href="#">Uid {{ $ctrl.authData.uid }}</a></li>
                  <li ng-if="$ctrl.authData"><a href="#">Logged as {{ $ctrl.authData.google.displayName }}</a></li>
                  <li ng-if="$ctrl.authData"><a href="#" ng-click="$ctrl.logout()">Log Out</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="row">
        <div class="col-xs-12">
          <div class="alert alert-warning" role="alert" ng-if="!$ctrl.authData">
            Please Log in to use this page
          </div>
        </div>
      </div>
      <div class="row" ng-if="$ctrl.rooms">
        <recent-data rooms="$ctrl.rooms"></recent-data>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <select class="form-control"
                  ng-model="$ctrl.chartSize"
                  ng-change="$ctrl.loadGraphs()"
                  ng-options="v.value for v in $ctrl.chartAllSizes track by v.id">
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <nvd3 options="$ctrl.tempOptions" data="$ctrl.temperatures" api="nvd3Temperature"></nvd3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <nvd3 options="$ctrl.humOptions" data="$ctrl.humidities" api="nvd3Humidities"></nvd3>
        </div>
      </div>
      <div id="errors" class="row" ng-if="$ctrl.errors">
        <reading-errors errors="$ctrl.errors"></reading-errors>
      </div>
