      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="room in $ctrl.rooms">
          <div class="panel panel-default" ng-repeat="temp in $ctrl.readings[room.$id]">
            <div class="panel-body">
              <h2>
                <span class="glyphicon {{ room.icon }}" ng-style="{'color': room.color}"></span>
                <span ng-repeat="category in $ctrl.categories">
                  <span ng-if="room.readings[category.$id]"><span ng-if="!$first"> / </span>{{temp[category.$id] |  number:category.fractionSize}}<small>{{ category.unit }}</small></span>
                </span>
              </h2>
            </div>
            <div class="panel-footer">
              <p>{{ room.label }}</p>
              <small>{{ temp.time * 1000 | date:'dd/MM/yyyy HH:mm:ss'}}  <span ng-if='$ctrl.currentTimeLimit > temp.time' class="glyphicon glyphicon-warning-sign text-warning" ></span><br/></small>
            </div>
          </div>
        </div>
      </div>
