      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="room in $ctrl.rooms">
          <div class="panel panel-default" ng-repeat="temp in $ctrl.readings[room.$id]">
            <div class="panel-body">
              <h1><span class="glyphicon {{ room.icon }}" ng-style="{'color': room.color}"></span> {{temp.temp | number:1}}<small>°C</small><span ng-if="room.readings.hum"> / {{temp.hum |  number:0}}<small>%</small></span><span ng-if="room.readings.lum"> / {{temp.lum |  number:0}}<small>lx</small></span>
              </h1>
            </div>
            <div class="panel-footer">
              <p>{{ room.label }}</p>
              <small>{{ temp.time * 1000 | date:'dd/MM/yyyy HH:mm:ss'}}  <span ng-if='$ctrl.currentTimeLimit > temp.time' class="glyphicon glyphicon-warning-sign text-warning" ></span><br/></small>
            </div>
          </div>
        </div>
      </div>
